footer{
    width: 100%;
    background-color:#3f5db3 ;
    padding-top: 6.7rem;
    padding-bottom: 6.5rem;

}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text4 h3{
    color: #ffffff;
}
.text4 p{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 180%;
    color: #ffffff;
    opacity: 0.8;
}